<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6"><%- include('../partials/header_prog') %>
                <div id="divReference">
                    <p><a name="top"></a></p>
                    <p><a href="#about">О программе VTE Watcher</a></p>
                    <p><a href="#howItWorks">Как работает программа</a></p>
                    <p><a href="#userResponsibility">Ответственность пользователя</a></p>
                    <p><a href="#orgRights">Права медицинской организации</a></p>
                    <p><a href="#advantages">Достоинства программы</a></p>

                    <p><a name="about"></a></p>
                    Программа VTE Watcher (далее Программа) дает рекомендации по назначению диагностических лабораторных исследований и лечебной тактике по профилактике ВТЭО.<br>
                    Программа не является государственной медицинской информационной системой медицинских организаций (МИС МО) т. к. не предназначена для сбора и хранения информации, необходимой для информационной поддержки медицинских работников. <br>
                    Программа не хранит никакой информации после завершения цикла выполнения, и не требует применения организационных и технических мер защиты информации (средства антивирусной и криптографической защиты информации и средства защиты информации от несанкционированного доступа, уничтожения, модификации и блокирования доступа к ней). <br>
                    Программа не предусматривает сохранение полученных данных в форме электронных документов. <br>
                    Программа может быть самостоятельной и не входящей в состав МИС МО, полностью интегрированной с МИС МО или являться ее частью как опция организации профилактики ВТЭО<br>
                     на условиях и в соответствии с требованиями, установленными Правительством Российской Федерации.</p>
                    
                    <p><a name="howItWorks"></a></p>
                    По типу мясорубки. Закладываем мясо, прокручиваем, получаем фарш. Внутри ничего не остаётся. Мясорубка снова готова к работе. </p>
                    
                    <p>Программа использует cookie только для идентификации и аутентификации пользователя.<br>
                    Для регистрации пользователя используется адрес эл. почты (можно фейковый) и пароль достаточного уровня защищенности. Пароль хранится на сервере. Персональные данные пользователя не запрашиваются. <br>
                    При регистрации пользователь подтверждает, что он врач с действующим сертификатом специалиста и несет ответственность за использование, сохранность и конфиденциальность данных полученных в результате работы программы.<br>
                    Программа требует тщательности и правдивости при вводе информации. Например, вес пациента лучше не определять «на глаз», то же касается роста, возраста и т. д. От того, насколько полно собран анамнез жизни и заболевания пациента, полностью зависят точность результата и обоснованность рекомендаций по проф. ВТЭО.<br>
                    Для хранения вводимых и полученных данных во время цикла программы используется local(session) storage браузера, которое очищается после завершения программы.<br>
                    Программа разработана под браузер Chrome, на других браузерах не тестировалась.</p>
                    
                    <br>
                    <p>Персональные данные.</p>
                    
                    <p>…если совокупность данных необходима и достаточна для идентификации лица, такие данные следует считать персональными данными, даже если они не включают в себя данные документов, удостоверяющих личность. При этом данные нельзя считать персональными в том случае, если без использования дополнительной информации они не позволяют идентифицировать физическое лицо… (научно-практический комментарий Роскомнадзора к ФЗ РФ "О персональных данных" (152-ФЗ) 2020, 2019)).</p>
                    
                    <p>Программа использует сведения, которые характеризуют физиологические и биологические особенности человека. Однако на их основании невозможно идентифицировать личность, т. о. программа не работает с персональными данными.</p>
                    
                    <p>Федеральный закон РФ "О персональных данных" (152-ФЗ) 2020, 2019<br>
                    Федеральный закон «О персональных данных»: научно-практический комментарий. Библиотечка «Российской газеты» Выпуск № 11 2015<br>
                    (ФЗ N 261 от 25.07.2011 Статья 11. Биометрические персональные данные). Сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность (биометрические персональные данные) и которые используются оператором для установления личности субъекта персональных данных, могут обрабатываться только при наличии согласия в письменной форме субъекта персональных данных.)</p>
                    
                    <p>(ФЗ N 261 от 25.07.2011 Статья 3. 1) персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных); 3) обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных).<br>
                    Федеральный закон "Об основах охраны здоровья граждан в Российской Федерации" от 21.11.2011 N 323-ФЗ.<br>
                     <br>
                    <!-- Ответственность пользователя:<br> -->
                    <p><a name="userResponsibility"></a></p>
                    Работая с программой, пользователь оперирует сведениями о здоровье и диагнозе пациента, иными сведениями, полученными при его медицинском обследовании и лечении, которые составляют врачебную тайну (Статья 73. Обязанности медицинских работников и фармацевтических работников. Медицинские работники обязаны: 2) соблюдать врачебную тайну).<br>
                    Согласно закону РФ N 323-ФЗ, Доступ к информации, составляющей врачебную тайну, медицинский работник получает на основании имеющегося добровольного согласия пациента на обработку персональных данных.<br>
                    Обязательным условием работы с программой является наличие у пользователя добровольного согласия пациента на обработку персональных данных (Статья 13).<br>
                    Во время цикла выполнения программы защита данных осуществляется пользователем, который исключает доступ к компьютеру посторонних лиц.<br>
                    Пользователь в случае самостоятельного сохранения результатов работы программы несет полную ответственность за сохранность сведений, составляющих врачебную тайну от неправомерных действий в отношении такой информации.</p>
                    
                    <!-- <p>Права медицинской организации<br> -->
                    <p><a name="orgRights"></a></p>
                    Медицинские организации имеют право создавать медицинские информационные системы, содержащие данные о пациентах с соблюдением требований, установленных законодательством Российской Федерации в области персональных данных, и соблюдением врачебной тайны.<br>
                    (Статья 78. Права медицинских организаций<br>
                    5) создавать медицинские информационные системы, содержащие данные о пациентах, об оказываемой им медицинской помощи, о медицинской деятельности медицинских организаций с соблюдением требований, установленных законодательством Российской Федерации в области персональных данных, и соблюдением врачебной тайны.<br>
                    (п. 5 в ред. Федерального закона от 29.07.2017 N 242-ФЗ)<br>
                    Статья 79. Обязанности медицинских организаций<br>
                    4) соблюдать врачебную тайну, в том числе конфиденциальность персональных данных, используемых в медицинских информационных системах)</p>
                    
                    <p>Приказ МЗ РФ от 24 декабря 2018 г. 911н. Об утверждении требований к государственным информационным системам в сфере здравоохранения субъектов российской федерации, медицинским информационным системам медицинских организаций и информационным системам фармацевтических организаций.<br>


                    <!-- Достоинства:<br> -->
                    <p><a name="advantages"></a></p>                    Программа обеспечивает комплексную оценку риска ВТЭО у пациента.<br>
                    Когда больной поступает в стационар, риск ВТЭО у него исследуется в рамках медицинского профиля отделения. Шкалы оценки риска ВТЭО других специальностей, скорее всего, не используются. Этого не всегда бывает достаточно. Например, пациенту хирургического стационара с «легкой» хирургической и «серьезной» терапевтическую патологией возникает необходимость одновременного применения шкал Padua и Caprini. <br>
                    Программа определяет препараты для профилактики ВТЭО, которые можно использовать у данного пациента, рекомендует стандартные профилактические дозы и средние сроки курса профилактики данным препаратом, с учетом ИМТ, возраста, СКФ, имеющейся патологии, беременности и других параметров. Также программа определяет перечень обследований. Которые следует выполнять при назначении того или иного лек. Средства. Программа учитывает переход с препаратов одной группы на другую, например может выполнить назначения мост терапии. <br>
                    И, наконец, программа предоставляет корректируемый проект листа назначений профилактики ВТЭО и согласия на профилактику ВТЭО.<br>
                    Лист назначения и согласие после проверки можно распечатать. Если пользователь желает сохранить файлы, в настройках принтера доступна опция «сохранить как PDF файл». Хранение информации является зоной ответственности пользователя программы и должно осуществляться согласно законодательству РФ.<br>
                    Форма оперативного лечения организована таким образом, что в каждом разделе хирургии, имеющемся в медицинском профиле, предлагается пул наиболее часто выполняющихся оперативных вмешательств с известным риском ВТЭО. Если операция отсутствует в списке, следует создать профиль вмешательства самостоятельно, указав название операции и её сложность.<br>
                    Дата оперативного вмешательства указывается одна, для той операции, которая определяет срок начала профилактики ВТЭО. Это сделано потому, что курс профилактики ВТЭО в листе назнгачений рассчитывается на две недели, и как правило, за это время выполняется одно большое оперативное вмешательство. Если же по разным причинам будет повторное вмешательство, то следует вновь оценить риск ВТЭО и создать новый лист назначений. <br>
                    Вид анестезиологического пособия имеет значение, так как он влияет на степень риска ВТЭО и график медикаментозной профилактики ВТЭО. Так, при удалении спинномозгового катетера требуется соблюдать перерывы в профилактике ВТЭО. <br>
                    У пациенток акушерско-гинекологического профиля существует форма, в которой следует указать все заявленные пункты.<br>
                    Риск-факторы указываются максимально полно по принципу, если такой фактор есть у пациента, автивирую строку. Логические нестыковки не должны смущать, потому что это список факторов а не классификация. Те строки, которые исключают друг друга пользователь нажать одновременно не сможет, это заложено в программу.<br>
                    По завершению выбора риск-факторов пользовательувидит список риск факторов. Если шкалы имеют высокий или умеренный риск ВТЭО, то они также будут отражены. Если пользователю надо разработать алгоритм профилактивки ВТЭО, то он следует по программе дальше и выбирает препарат для профилактики ВТЭО из списка возможных, Если поанируемого вами препарата в вписке не окажется, зщачит ор противопоказан данному пациенту. Показния и противопоказания к назначению того или иногппрепараты полдсчитываются но основании фоициальных иснтрукций РЛС. Опираясь на составленный польщвателем ранее «портрет» или «модель» клинического случая. Следуя инструкциям что недолжно вызвать затруднений, вы перйдете в терий раздел программы- составление листа назначений и заполнения согласия пациента.<br>
                    Прогроамма спросит, хотите ли вы внести данные пациенгта в лист. Порльзователю решать, самому заполнять лист назначений, или программа это сделает самостоятельно. Это сделано для того, что бы не вводить в соблазн обвинить программу в использовании данных пациента. Когда пользователь вносит даннные пациента по ходу программы ничего не прроисходит кроме того, что до конца цикла программы эти данные сохраняются в переменной которая умирает после завешения программы.<br>
                    Полезная опция программы – профиль пользователя. Данные профиля хранятся в Local Storage браузера. Профиль доступен только тому пользователю, под логином которого был создан. Профиль пользователя можно удалять, изменять. Данные профиля не уходят с компьютера клиента. Иметь профиль полезно потому, что в листе назначений будет указан аббревиатура инициалов пользователя на тех датах, гле он назначил мед. препарат или анализы, а также в согласии в пункте врач, такм же автоматически будет внесено название учреждения. Подразделоегия. Впрочем не имея профиля. Пользователь может все это внести в даные форсмы самостоятельно на этапе правки.<br>
                    Программа должна постоянно совершенствоваться, т. к. изменяются нормативные документы по оценке риска ВТЭО, появляются новые лекарственные средства, что требует внесения корректив в алгоритм программы. Кроме того, Программа тестируется пользователями. И наверняка потребуется немало времени и усовершенствований, чтобы устранить возможные логические несоответствия и баги. Поэтому конструктивная критика приветствуется. <br>
                    Это бесплатная программа с открытым исходным кодом для программистов, которые захотят помочь врачам и усовершенствовать качество кода.</p>
                    
                    <p>Программа является веб приложением, написана на JS, серверная часть - на Node JS. Для аутентификации пользователя подключен модуль passport js. Особенность данного приложения в том, что за малым исключением весь код программы загружается на клиентскую сторону, где и происходит его выполнение. Взаимодействие клиентской стороны с сервером во время выполнения программы не требуется.</p>
                    
                    <p>Медицинские профили по которым обследуется пациент: терапия, фибрилляция предсердий, общая хирургия, травматология, нейрохирургия, урология, комбустиология, сердечно-сосудистая хирургия, онкология, акушерство и гинекология.<br>
                    Те разделы хирургии, которые используют общехирургические шкалы риска ВТЭО, например ЛОР, офтальмология, трансплантология и т. д. , в программе включаются в раздел «общая хирургия».</p>
                    
                    <p>Чтобы получить доступ к программе, надо зарегистрироваться на сайте © SmartMedInterface на навигационной панели найти впадающее меню Разделы сайта, выбрать вкладку Программы, выбрать программу.<br>
                    Медицинский профиль пациента позволяет выбрать все профили, по которым пациент нуждается в оценке риска ВТЭО. Для выбора нескольких профилей нажать клавишу Ctrl и кликнуть ЛКМ на нужном пункте меню. Данное действие очень важно, т. к. именно выбранные пункты подключают шкалы для исследования риска ВТЭО. При выборе какого либо хирургического профиля появляется чекбокс «оперативное лечение». Если планируется операция, следует установить флажок. Это действие открывает доступ к форме выбора метода оперативного лечения. Если у пациента планируется манипуляция, связанная с высоким риском кровотечения при профилактике ВТЭО, также следует установить флажок на чекбоксе «манипуляции с высоким риском кровотечения» И наконец, если пользователь не планирует оценивать риск кровотечения у данного пациента при профилактике ВТЭО, следует снять флажок с чекбокса «Учитывать риск кровотечения»</p>
                    
                    <br>
                    <p>Для расчёта клиренса креатинина (КК) в программе применяются формулы Кокрофта-Голта и CKD-EPI, учитывается большее по отклонению от нормы значение.</p>
                    
                    <p>Рекомендации для расчета риска ВТЭО: </p>
                    
                    <p>Prevention and treatment of venous thromboembolism. International Consensus Statement International Angiology , vol 32, april 2013, No. 2.<br>
                    Национальный стандарт Российской Федерации. Клинические рекомендации (протоколы лечения). Профилактика тромбоэмболических синдромов. ГОСТ Р 56377-2015.<br>
                    Российские клинические рекомендации по диагностике, лечению и профилактике венозных тромбоэмболических осложнений (ВТЭО). 20.05.15.</p>
                    
                    <p>Профилактика ВТЭО в онкологии (Тромбозы в онкологии. часть 1, часть 2.)</p>
                    
                    <p>Оценка риска ВТЭО у пациентов нехирургического профиля выполняется согласно<br>
                    Российским клиническим рекомендациям по диагностике, лечению и профилактике ВТЭО (2015) по шкале Padua Prediction Score for VTE.<br>
                    Оценка риска кровотечений для терапевтических пациентов (включая онкологических пациентов) выполняется согласно шкале IMPROVE Registry (2011). <br>
                    Оценка риска тромбоэмболических осложнений пациентов с фибрилляцией/трепетанием предсердий выполняется по шкале CHA2DS2-VASс<br>
                    Venous thromboembolism prophylaxis and treatment in patients with cancer: American Society of Clinical Oncology Clinical Practice Guideline Update 2014.<br>
                    Оценка риска кровотечений у пациентов с фибрилляцией/трепетанием предсердий выполняется по шкале HAS-BLED.</p>
                    
                    <p>Профилактика венозных тромбоэмболических осложнений в травматологии и ортопедии. Российские клинические рекомендации, 25.06.2011.<br>
                    Профилактика тромботических осложнений у онкологических больных в группах высокого риска.<br>
                     Медицинский совет, №6, 2017.</p>
                    
                    <p>Клинические рекомендации по профилактике и лечению тромбоэмболических осложнений у онкологических больных. Ассоциация онкологов России, 2014.</p>
                    
                    <br>
                    <p>Венозные тромбоэмболические осложнения при термической травме (обзор литературы). В.С. Борисов, 2016<br>
                    Thromboembolic Prophylaxis in Neurosurgical Practice: A Review. J. Spine 2014, 4:1<br>
                    Оценка риска ВТЭО у хирургических пациентов проводится по модифицированной шкале качественной оценки риска ВТЭО<br>
                    (Российские клинические рекомендации по диагностике, лечению и профилактике ВТЭО, 2015).</p>
                    
                    <br>
                    <p>Шкала Major Bleeding Score - оценка риска большого кровотечения у хирургических пациентов. </p>
                    
                    <br>
                    <p>Профилактика венозных тромбоэмболических осложнений в акушерстве и гинекологии. Клинические рекомендации (Протокол лечения). МЗ РФ от 27.05.2014г.<br>
                    Reducing the Risk of Venous Thromboembolism during Pregnancy and the Puerperium. Green-top Guideline No. 37a. April 2015.</p>
                    
                    <br>
                    <p> Для оценки риска клинически значимых кровотечений при профилактике ВТЭО применены шкалы:<br>
                    IMPROVE - оценка риска кровотечений для терапевтических пациентов (включая онкологических пациентов)</p>
                    
                    <p>Major Bleeding Score - оценка риска большого кровотечения у хирургических пациентов.</p>
                    
                    <p>HAS-BLED для оценки риска большого кровотечения в течение 1 года</p>
                    
                    <p>Периоперационное ведение больных, получающих длительную антитромботическую терапию Клинические рекомендации. Протоколы лечения. Утверждены 14-м съездом ФАР 22.09.14.<br>
                    </p>
                    <p><a href="#top">Наверх</a></p>
                </div>
                    <br>
                    <br>
                    <br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script src="/scripts/date_manager.js"></script>
    <script src="/js/vte_watch/vte_patient_profile.js" defer></script>
</body>
<html>