<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body> <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <%- include('../partials/header_prog') %>
                <div id='dialogMain'></div>
                <button type="button" class="btn btn-primary" id="btnOne">Принять</button>
                <br><br><br><br><br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    <style>
        textarea {
            display: block;
            width: 700px;
            height: 900px;
            margin: 0 auto;
            resize: none;
            border: none;
        }

        table {
            border-collapse: collapse;
            border: 1px solid grey;
            width: 700px;
            table-layout: fixed;
        }

        th,
        td {
            border: 1px solid grey;
        }

        th {
            font-size: 10pt;
            text-align: left;
        }

        td {
            font-size: 9pt;
            text-align: left;
        }

        tr.trSignature {
            height: 20px;
        }

        #tdDocTitle,
        caption {
            font-size: 12pt;
            text-align: center;
            font-weight: bolder;
        }

        #tdSignTitle {
            font-size: 10pt;
            text-align: center;
            font-weight: bolder;
        }
    </style>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script src="/scripts/date_manager.js"></script>
    <script src="/js/vte_watch/vte_drug_list.js"></script>
    <script src="/js/vte_watch/vte_assignment_sheet.js" defer></script>
</body>
<html>