<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <a name="top"></a>
    <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6"><%- include('../partials/header_prog') %>

                <p><a href="#aPadua" >Шкала Padua оценка риска ВТЭО у госпитализированных больных.</a></p>
                <p><a href="#aCHA2DS2-VASc">Шкала CHA2DS2-VASc для прогнозирования риска ишемического инсульта и
                        истемного тромбоэмболизма при фибрилляции предсердий.</a></p>
                <p><a href="#aHAS-BLED">Шкала HAS-BLED для оценки риска кровотечения у пациентов с фибрилляцией
                        предсердий.</a></p>
                <p><a href="#aIMPROVE">Шкала IMPROVE для оценки риска кровотечений для терапевтических пациентов
                        (включая онкологических пациентов).</a></p>
                <p><a href="#aCaprini">Шкала Caprini для оценки риска ВТЭО у хирургических пациентов (исключая
                        ортопедических/травматологических пациентов).</a></p>
                <p><a href="#aSurgRiskVTERU">Российская шкала качественной оценки риска ВТЭО у хирургических
                        больных.</a></p>
                <p><a href="#aMajorBleedScore">Шкала Major Bleeding Score - оценка риска большого кровотечения у
                        хирургических пациентов.</a></p>
                <p><a href="#aTraumRiskVTERU">Шкала риска ВТЭО в травматологии.</a></p>
                <p><a href="#aTraumBleedRiskRU">Шкала оценки риска кровотечений при больших травматологических
                        вмешательствах.</p>
                </a></p>
                <p><a href="#aGreenTopGuideline37a">Шкала RCOG GreenTopGuideline37a оценки риска ВТЭО во время родов
                        и в послеродовом периоде (модифицированная) (RCOG GreenTopGuideline37a).</a></p>
                <p><a href="#aGreenTopGuideline37aRu">Оценка риска ВТЭО во время родов и в послеродовом периоде
                        (модифицированная) (RCOG GreenTopGuideline37a).</a></p>
                <p><a href="#aGreenTopGuideline37aBleedRisk">Факторы риска кровотечения во время беременности, родов
                        и послеродового периода (RCOG GreenTopGuideline37a).</a></p>

                <p><a href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col-10">Фактор риска</th>
                        <th scope="col-2">Баллы</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>активное онкологическое заболевание (пациенты с метастазами в региональные лимфоузлы или с
                            отдаленными метастазами, которые получали химиотерапию или лучевую терапию в течение последних 6
                            месяцев)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>ВТЭ в анамнезе (кроме тромбоза поверхностных вен)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>иммобилизация (планируется постельный режим [с возможностью пользоваться ванной/туалетом] в
                            связи со сниженной двигательной мобильностью больного или рекомендациями врача в течение ≥3
                            дней)</td>
                        <td>3</td>
                      </tr>
                    </tbody>
                  </table>
                <p><a name="aPadua"></a>Факторы риска ВТЭО у госпитализированных больных шкала <b>Padua</b></pclass=>
                Фактор риска<br>
                Баллы<br>
                активное онкологическое заболевание (пациенты с метастазами в региональные лимфоузлы или с
                отдаленными метастазами, которые получали химиотерапию или лучевую терапию в течение последних 6
                месяцев) 3<br>
                ВТЭ в анамнезе (кроме тромбоза поверхностных вен) 3<br>
                иммобилизация (планируется постельный режим [с возможностью пользоваться ванной/туалетом] в
                связи со сниженной двигательной мобильностью больного или рекомендациями врача в течение ≥3
                дней) 3<br>
                диагностированная тромбофилия (дефицит антитромбина, протеина C или S, фактора V Лейдена,
                мутация G20210A гена протромбина или антифосфолипидный синдром) 3<br>
                недавняя (≤1 мес.) травма или хирургическое вмешательство 2<br>
                возраст ≥70 лет 1<br>
                сердечная или дыхательная недостаточность 1<br>
                острый инфаркт миокарда или ишемический инсульт 1<br>
                острая инфекция или ревматологическое заболевание 1<br>
                ожирение (ИМТ ≥30 кг/м<sup>2</sup>) 1<br>
                лечение гормонами 1<br><br>
                Сумма ≥4 баллов — высокий риск ВТЭ.<br>
                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a href=""
                        class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                <p><a name="aCHA2DS2-VASc"></a>Шкала <b>CHA2DS2-VASc</b> для прогнозирования риска ишемического инсульта
                    и системного
                    тромбоэмболизма при фибрилляции предсердий</p>
                Фактор риска<br>
                Баллы<br>
                хроническая сердечная недостаточность 1<br>
                гипертоническая болезнь 1<br>
                сахарный диабет 1<br>
                инсульт/ТИА/системный эмболизм в анамнезе 2<br>
                поражение сосудов (инфаркт миокарда в анамнезе, атеросклероз периферических артерий, атеросклероз аорты)
                1<br>
                возраст 65 – 74 лет 1<br>
                возраст старше 75 лет 2<br>
                пол (женский) 1<br><br>
                При 0 баллов антитромботическая терапия не рекомендуется, при 1 балле предпочтительна
                антикоагулянтная терапия, но возможна терапия аспирином. При 2 и более баллов рекомендуется
                антикоагулянтная терапия.<br>
                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a href=""
                        class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                <p><a name="aHAS-BLED"></a>Шкала <b>HAS-BLED</b> для оценки риска кровотечения у пациентов с
                    фибрилляцией предсердий</p>
                Фактор риска<br>
                Баллы<br>
                гипертония (систолическое артериальное давление > 160 мм рт.ст.) 1<br>
                нарушение функции почек (хронический диализ, или сывороточный креатинин > 200 мкмоль/л, или наличие в
                анамнезе трансплантации почки) 1<br>
                и/или нарушение функции печени (хроническое заболевание печени или функциональные нарушения: билирубин >
                2 × верхний предел нормы, или повышение аспартатаминотрансферазы/аланинаминотрансферазы/щелочной
                фосфатазы > 3 × верхний предел нормы) 1<br>
                инсульт 1<br>
                кровотечения в анамнезе и/или предрасположенность к ним (например, геморрагический диатез, анемия) 1<br>
                лабильное международное нормализованное отношение < 60 1<br>
                    возраст (> 65 лет) 1<br>
                    совместный прием медикаментов (например, антикоагулянтов и нестероидных противовоспалительных
                    препаратов) 1<br>
                    и/или алкоголя 1<br><br>
                    Больные с высоким риском кровотечения (балл по шкале HAS-BLED > 3) должны проходить регулярное
                    клиническое обследование после начала пероральной антикоагулянтной терапии.<br>
                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                    <p><a name="aIMPROVE"></a>Шкала <b>IMPROVE</b> - оценка риска кровотечений для терапевтических
                        пациентов (включая онкологических пациентов).</p>
                    Фактор риска<br>
                    Баллы<br>
                    умеренная почечная недостаточность, СКФ 30-59 мл/мин/м<sup>2</sup> 1<br>
                    тяжелая почечная недостаточность, СКФ < 30 мл/мин/м<sup>2</sup> 2,5<br>
                        печеночная недостаточность (МНО > 1,5) 2.5<br>
                        мужской пол 1<br>
                        возраст 40-84 лет 1,5<br>
                        возраст ≥ 85 лет 3,5<br>
                        активный рак 2<br>
                        ревматические заболевания 2<br>
                        центральный венозный катетер 2<br>
                        пребывание в отделении интенсивной терапии в период госпитализации 2.5<br>
                        тромбоциты < 50 × 10<sup>9</sup>/<sub>л</sub> 4<br>
                            кровотечение в последние 3 месяца 4<br>
                            активная язва желудка или двенадцатиперстной кишки 4.5<br><br>
                            Интерпретация риска кровотечений: сумма баллов < 7 - низкий риск, ≥ 7 - высокий риск.<br>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                <p><a name="aCaprini"></a>Шкала <b>Caprini</b> оценки риска ВТЭО у хирургических
                                    пациентов (исключая
                                    ортопедических /травматологических пациентов).</p>
                                Фактор риска<br>
                                Баллы<br>
                                1 балл<br>
                                возраст 41–60 лет<br>
                                отек нижних конечностей<br>
                                варикозные вены<br>
                                индекс массы тела более 25 кг/м<sup>2</sup><br>
                                малое хирургическое вмешательство<br>
                                сепсис (давностью до 1 мес.)<br>
                                серьезное заболевание легких (в т.ч. пневмония давностью до 1 мес.)<br>
                                Прием оральных контрацептивов, гормонозаместительная терапия<br>
                                беременность и послеродовый период (до 1 мес.)<br>
                                в анамнезе: необъяснимые мертворождения, выкидыши (≥ 3), преждевременные
                                роды с токсикозом или задержка внутриутробного развития<br>
                                острый инфаркт миокарда<br>
                                хроническая сердечная недостаточность (давностью до 1 мес.)<br>
                                постельный режим у нехирургического пациента<br>
                                воспалительные заболевания толстой кишки в анамнезе<br>
                                большое хирургическое вмешательство давностью до 1 мес. в анамнезе<br>
                                хроническая обструктивная болезнь легких<br>
                                2 балла<br>
                                возраст 61–74 года<br>
                                артроскопическая хирургия<br>
                                злокачественное новообразование<br>
                                лапароскопическое вмешательство (длительностью более 45 мин.)<br>
                                постельный режим более 72 часов<br>
                                иммобилизация конечности (давностью до 1 мес.)<br>
                                катетеризация центральных вен<br>
                                большая хирургия (длительностью более 45 мин)<br>
                                3 балла<br>
                                возраст старше 75 лет<br>
                                личный анамнез ВТЭО<br>
                                семейный анамнез ВТЭО<br>
                                мутация типа Лейден<br>
                                мутация протромбина 20210А<br>
                                гипергомоцистеинемия<br>
                                гепарин-индуцированная тромбоцитопения<br>
                                повышенный уровень антител к кардиолипину<br>
                                волчаночный антикоагулянт<br>
                                5 баллов<br>
                                инсульт (давностью до 1 мес.)<br>
                                множественная травма (давностью до 1 мес.)<br>
                                эндопротезирование крупных суставов<br>
                                перелом костей бедра и голени (давностью до 1 мес.)<br>
                                травма спинного мозга/паралич (давностью до 1 мес.)<br><br>
                                Стратификация риска: низкий риск: 0–1 балл, умеренный риск: 2 балла, высокий риск: 3–4
                                балла, крайне высокий риск: 5 и более баллов.<br>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                <p><a name="aSurgRiskVTERU"></a>Модифицированная <b>шкала качественной оценки риска ВТЭО
                                        у хирургических
                                        больных</b>.</p>
                                Степень риска низкая <br>
                                малые операции длительностью не более 60 мин, у пациентов до 40 лет без
                                дополнительных факторов риска ВТЭО<br>
                                острые нехирургические заболевания, не требующие постельного режима<br>
                                Степень риска умеренная<br>
                                большие операции у пациентов 40—60 лет без дополнительных факторов риска<br>
                                большие гинекологические операции у пациенток моложе 40 лет на фоне терапии
                                эстрогенами<br>
                                малые операции у пациентов старше 60 лет<br>
                                малые операции у пациентов 40—60 лет с факторами риска<br>
                                госпитализация с хронической сердечной недостаточностью III—IV ФК по NYHA<br>
                                острые инфекционные или воспалительные заболевания, требующие постельного режима<br>
                                острые заболевания легких с дыхательной недостаточностью, не требующие искусственной
                                вентиляции легких<br>
                                изолированные переломы костей голени <br>
                                разрыв связок и сухожилий голени<br>
                                ожоги площадью до 20% поверхности тела<br>
                                термоингаляционная травма II степени<br>
                                Степень риска высокая<br>
                                большие операции у пациентов старше 60 лет<br>
                                большие операции у пациентов 40—60 лет, имеющих дополнительные факторы риска
                                ВТЭО (ВТЭО в анамнезе, рак, тромбофилии и пр.)<br>
                                химио-, рентгено- или радиотерапия у пациентов с онкологическими заболеваниями<br>
                                ишемический инсульт с параличом<br>
                                острое заболевание легких с дыхательной недостаточностью, требующее
                                искусственной вентиляции легких<br>
                                сепсис<br>
                                наличие верифицированной тромбофилии<br>
                                эндопротезирование тазобедренного и коленного суставов, операции при
                                переломах бедра<br>
                                тяжелая и сочетанная травма<br>
                                повреждения спинного мозга<br>
                                ожоги площадью более 20% поверхности тела<br>
                                термоингаляционная травма III степени<br>
                                осложнения ожоговой болезни<br><br>

                                Нестратифицированные риск факторы:<br>
                                возраст более 40 лет (с увеличением риск растет; обычные градации более 40,
                                60 и 75 лет)<br>
                                применение эстроген-гестагенных препаратов (контрацепция или гормональная
                                заместительная терапия)<br>
                                применение селективных модуляторов эстрогеновых рецепторов<br>
                                воспалительные заболевания толстого кишечника<br>
                                нефротический синдром<br>
                                миелопролиферативные заболевания<br>
                                пароксизмальная ночная гемоглобинурия<br>
                                ожирение <br>
                                варикозное расширение вен нижних конечностей<br>
                                катетер в центральной вене<br>
                                беременность и ближайший (до 6 нед) послеродовый период<br><br>

                                Большие операции:<br>
                                Общая хирургия: гастрэктомия, панкреатэктомия, колэктомия резекция желудка
                                или кишечника, осложненная аппендэктомия, холецистэктомия по экстренным
                                показаниям, ампутация бедра, бариатрические операции<br>
                                Гинекология/акушерство: экстирпация матки, кесарево сечение, ампутация
                                матки<br>
                                Травматология/ортопедия: остеосинтез бедра, протезирование суставов,
                                остеосинтез костей голени, плановые операции на позвоночном столбе<br>
                                Урология: чреспузырная аденомэктомия, экстирпация мочевого пузыря,
                                нефрэктомия с лимфоаденэктомией и/или удалением опухолевого тромба из НПВ<br>
                                Нейрохирургические операции на головном и спинном мозге<br>
                                Сердечно-сосудистая хирургия: артериальная реконструкция, аорто-коронарное
                                шунтирование<br>
                                Комбустиология: некрэктомия ожоговых ран на площади свыше 10%
                                поверхности тела, аутодермопластика свыше 15% поверхности тела<br>
                                Малые операции<br>
                                Общая хирургия: плановая холецистэктомия, аппендэктомия, грыжесечение<br>
                                Гинекология/акушерство: роды/аборт<br>
                                Травматология/ортопедия: вмешательство по поводу деформации стопы,
                                артроскопия коленного сустава<br>
                                Урология: трансуретральная аденомэктомия<br>
                                Сосудистая хирургия: флебэктомия, стволовая лазерная или радиочастотная
                                облитерация, кроссэктомия при восходящем тромбофлебите поверхностных вен<br>
                                Комбустиология: некрэктомия ожоговых ран на площади до 10%.<br><br>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>
                                <p><a name="aMajorBleedScore"></a>Шкала <b>Major Bleeding Score</b> - оценка риска
                                    большого кровотечения у хирургических пациентов</p>
                                Фактор риска<br>
                                Баллы<br>
                                кровотечение на момент осмотра 1<br>
                                предшествующее массивное кровотечение 1<br>
                                нелеченая коагулопатия 1<br>
                                тяжелая почечная или печеночная недостаточность 1<br>
                                тромбоцитопения 1<br>
                                инсульт в последние 30 дней 1<br>
                                неконтролируемая артериальная гипертензия 1<br>
                                текущее применение антикоагулянтов, антиагрегантов или тромболитических
                                препаратов 1<br>
                                люмбальная пункция, эпидуральная или спинномозговая анестезия за 4 ч. до или
                                в течение 12 ч после операции 1<br>
                                панкреатодуоденальная резекция 1<br>
                                резекция печени 1<br>
                                операция на сердце 1<br>
                                пульмонэктомия или расширенная резекция легкого 1<br>
                                операции на головном или спинном мозге 1<br><br>
                                Сумма баллов < 1 - низкий риск ≥ 1 - высокий риск<br>
                                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                    <p><a name="aTraumRiskVTERU"></a>Шкала <b>риска ВТЭО в травматологии</b></p>
                                    в целом идентична модифицированной шкале качественной оценки риска ВТЭО, за
                                    исключением того, что учитывает дополнительно факторы риска:<br>
                                    воспаление суставов нижних конечностей (артрит), остеомиелит<br>
                                    общая анестезия<br>
                                    дегидратация<br><br>
                                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                    <p><a name="aTraumBleedRiskRU"></a>Модифицированная <b>шкала оценки риска
                                            кровотечений
                                            при больших травматологических вмешательствах.</b></p>
                                    Фактор риска<br>
                                    Баллы<br>
                                    предшествующее массивное кровотечение 1<br>
                                    тяжелая почечная недостаточность 1<br>
                                    текущее применение антикоагулянтов, антиагрегантов или тромболитических препаратов
                                    1<br>
                                    трудно контролируемое кровотечение во время текущего оперативного лечения
                                    /обширность
                                    хирургического вмешательства 1<br><br>
                                    Сумма баллов < 1 - низкий риск, ≥ 1 - высокий риск.<br>
                                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                    aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                    class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                        <p><a name="aGreenTopGuideline37a"></a><b>RCOG GreenTopGuideline37a</b> Risk
                                            factors for VTE</p>
                                        Tick<br>
                                        Score<br>
                                        Pre-existing risk factors<br>
                                        Previous VTE (except a single event related to major surgery) 4<br>
                                        Previous VTE provoked by major surgery 3<br>
                                        Family history of unprovoked or estrogen-related VTE in first-degree
                                        relative 1<br>
                                        Known high-risk thrombophilia 3<br>
                                        Known low-risk thrombophilia (no VTE) 1<br>
                                        Medical comorbidities e.g. cancer, heart failure; active systemic lupus
                                        erythematosus, inflammatory polyarthropathy or inflammatory bowel disease;
                                        nephrotic syndrome; type I diabetes mellitus with nephropathy; sickle cell
                                        disease; current intravenous drug user 3<br>
                                        Age (> 35 years) 1<br>
                                        Obesity 1 or 2b<br>
                                        Parity ≥ 3 1<br>
                                        Smoker 1<br>
                                        Gross varicose veins 1<br>

                                        Obstetric risk factors<br>
                                        Pre-eclampsia in current pregnancy 1<br>
                                        ART/IVF (antenatal only) 1<br>
                                        Multiple pregnancy 1<br>
                                        Caesarean section in labour 2<br>
                                        Elective caesarean section 1<br>
                                        Mid-cavity or rotational operative delivery 1<br>
                                        Prolonged labour (> 24 hours) 1<br>
                                        PPH (> 1 litre or transfusion) 1<br>
                                        Preterm birth < 37+0 weeks in current pregnancy 1<br>
                                            Stillbirth in current pregnancy 1<br>

                                            Transient risk factors<br>
                                            Any surgical procedure in pregnancy or puerperium except immediate repair of
                                            the perineum, e.g. appendicectomy, postpartum sterilisation 3<br>
                                            Hyperemesis 3<br>
                                            OHSS (first trimester only) 4<br>
                                            Current systemic infection 1<br>
                                            Immobility, dehydration 1<br>

                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                        aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                        class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                            <p><a name="aGreenTopGuideline37aRu"></a><b>Оценка риска ВТЭО во время родов
                                                    и в послеродовом периоде</b> (модифицированная) (RCOG
                                                GreenTopGuideline37a).</p>
                                            Фактор риска<br>
                                            Баллы<br>
                                            Анамнестические данные<br>
                                            предшествующие рецидивирующие ВТЭО 3<br>
                                            предшествующие ВТЭО, ничем не спровоцированные или связанные с приемом
                                            эстрогенов 3<br>
                                            предшествующие спровоцированные ВТЭО 2<br>
                                            семейный тромботический анамнез 1<br>
                                            соматические факторы: <br>
                                            возраст более 35 лет 1<br>
                                            курение 1<br>
                                            ожирение ИМТ>30 1<br>
                                            варикозное расширение вен ног 1<br>
                                            соматические заболевания (артериальная гипертензия, нефротический синдром,
                                            злокачественные заболевания, сахарный диабет I типа,
                                            инфекционно-воспалительные заболевания в активной фазе, СКВ, заболевания
                                            легких и сердца, серповидно¬клеточная анемия) 2<br>
                                            Акушерско-гинекологические факторы: Баллы<br>
                                            роды в анамнезе >3 1<br>
                                            многоплодная беременность 1<br>
                                            дегидратация 1<br>
                                            затяжные роды (>24 часов) 1<br>
                                            полостные или ротационные щипцы 1<br>
                                            экстренное кесарево сечение 1<br>
                                            длительная иммобилизация (более 4 суток) 1<br>
                                            хирургические вмешательства во время беременности или в послеродовом периоде
                                            3<br>
                                            послеродовое кровотечение >1 литра, требующее гемотрансфузии 1<br>
                                            преэклампсия 1<br>
                                            тяжёлая форма преэклампсии, внутриутробная гибель плода во время данной
                                            беременности 2<br>
                                            тромбофилии (гомозиготная мутация фактора V Leiden, протромбина G20210A,
                                            антифосфолипидный синдром, дефицит ATIII, протеина S и С) 3<br><br>
                                            Риск ВТЭО: Низкий - 0 - 1 балл, умеренный - 2 балла, высокий > 2 баллов.<br>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                        aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                        class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                            <p><a name="aGreenTopGuideline37aBleedRisk"></a><b>Факторы риска
                                                    кровотечения во время беременности, родов и послеродового
                                                    периода</b> (RCOG GreenTopGuideline37a).</p>
                                            дородовые и послеродовые кровотечения<br>
                                            высокий риск массивного кровотечения (например, при предлежании
                                            плаценты)<br>
                                            гемофилия или другие диагностированные нарушения свертываемости крови
                                            (например, болезнь Виллебранда или приобретенная коагулопатия)<br>
                                            тромбоцитопения (число тромбоцитов менее 75 х 10<sup>9</sup>)<br>
                                            острый период инсульта.<br>
                                            почечная недостаточность (СКФ < 30 мл/мин/1.73 м<sup>2</sup>)<br>
                                            печеночная недостаточность (протромбиновое время выше нормы или
                                                имеющееся варикозное расширение вен)<br>
                                            неконтролируемая артериальная гипертензия (САД > 200 мм рт. ст. или ДАД
                                                > 120 мм рт. ст.)<br><br>
                                            При наличии любого из факторов риск высокий<br>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                            aria-hidden="true"></i>Вверх</a><a href=""
                                                        class="clsExit"><i class="fa fa-times"
                                                            aria-hidden="true"></i>Выйти</a></p>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <script src="/scripts/date_manager.js"></script>
    <script src="/js/vte_watch/vte_reference.js" defer></script>
</body>
<html>